<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet"> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">  
</head>
<body>
    <div class="navbar">
        <img src="{{url_for('static',filename='logo.png')}}" alt="Logo" class="navbar-logo"> <!-- Replace 'your-logo.png' with the path to your logo image -->
        <div class="navbar-links">
          <a href="" class="nav-link nav-link-ltr">Return To Home</a>
        </div>
      </div>
      <div class="final-report">
        <h1 class="report-head">Health Report</h1>
        <div class="report-main">
            <div>
                <img class="img-hp" style="height:423px;width:423px;" src="{{ url_for('display_image', filename=filename) }}">
            </div>
            <div class="report-cnt">
                <div class="disease-report">Disease: {{dis}}</div>
                <div class="sugg">
                    Suggestions<br>
                    <p class="final-sugg">{{suggest}}</p>
                </div>
            </div>
        </div>

</div>
</body>
</html>